@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);
body {
  background: #E1F2FB;
  font-family: Nunito;
  font-weight: 300;
  font-size: 2rem;
  color: #FFF;
}

.csv-upload-action-button {
  cursor: pointer;
  padding: 3%;
  background: #1D6691;
  border-radius: 0 0 8px 8px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.csv-upload-action-button:hover {
  background: #0093CF;
}
.csv-upload-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.csv-upload-form {
  padding: 3%;
  background: #FFF;
}
.csv-upload-form .success-note {
  color: #0093CF;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.csv-upload-form textarea {
  font-size: 2rem;
  color: #0C3F5C;
}
.csv-upload-form textarea::-webkit-input-placeholder {
  color: #0093CF;
  text-align: center;
}
.csv-upload-row {
  width: 100%;
}
.csv-upload-step {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  text-align: center;
  text-transform: uppercase;
}
.csv-upload-step .glyphicon {
  padding-bottom: 10%;
  font-size: 3rem;
}
.csv-upload-step.active {
  transition: all 0.3s ease 0s;
}
.csv-upload-step.active:hover {
  color: lightblue;
  cursor: pointer;
}
.csv-upload-step.inactive {
  opacity: 0.3;
}
.csv-upload-steps {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 1.5% 0;
  background: #1D6691;
}
.csv-upload-textarea {
  resize: none;
  width: 100%;
  background: #FFF;
  border: 0;
  box-sizing: border-box;
}
.csv-upload-title {
  padding: 3%;
  background: #0C3F5C;
  border-radius: 8px 8px 0 0;
  text-align: center;
  text-transform: uppercase;
}
